@media screen and (max-width:830px) {
  
  header {

    .titulos {

      h2 {
        font-size: 45px;
      }

      h4 {
        font-size: 17px;
      }
    }
  }

  .formulario {
    flex-direction: column;

    .boxprs {
      display: none;
    }

    .ttl-contact {
      justify-content: flex-start;
    }

    .w50 {
      width: 98.5%;
    }

    form {
      margin: auto;
    }
  }
}

@media screen and (max-width:580px) {

  .tienda {

    .container {
      width: 100%;
    }

    .articulo {
      width: 150px;
    }
  }
}